[Desktop Entry]
Version=1.0
Type=Application
Name=HistoricRallyMeter
Comment=Precision timing and speed measurement for historic car regulation rallies
Exec=bash -c 'cd ~/HistoricRallyMeter && ./HistoricRallyMeter'
Icon=/home/simonpapworth6742/HistoricRallyMeter/historic_rally_meter_icon.png
Terminal=false
Categories=Utility;
StartupNotify=true
